In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./fracture.csv")
df.sample(5)

,id,sex,fracture,duration,age,wt,ht,bmi,Tscores,fnbmd,lsbmd,fall,priorfracture,death
1644,6152,F,1,10.39,62,60.0,172.0,20.0,-2.00,0.76,NaN,1,0,1
60,107,M,0,14.21,74,75.0,177.0,24.0,-0.58,0.97,1.251,0,0,0
2060,9444,F,0,1.33,60,91.0,160.0,36.0,-0.42,0.95,1.103,0,0,1
1806,6416,F,1,11.80,72,65.0,163.0,24.0,-2.83,0.66,0.812,0,0,1
1025,3057,F,0,14.47,71,68.0,164.0,25.0,-1.75,0.79,0.837,0,0,0